{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/image/tral.png">
  <title>旅游景点推荐系统</title>
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/dashboard.css" rel="stylesheet">
  <link href="/static/css/custom.css" rel="stylesheet">
  <script src="/static/js/html5shiv.min.js"></script>
  <script src="/static/js/respond.min.js"></script>
  <script src="/static/js/jquery-2.1.1.min.js"></script>
  <script src="/static/js/jquery.min.js"></script>
</head>
<style>
    * { margin: 0; padding: 0; }
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #ffffff url({% static 'image/background.jpg' %});
        background-size: 100% 100%;
        padding-top: 10px;
    }
    .col-md-4 {
        display: flex;
        border-radius: 20px;
        flex-direction: column;
        margin-top: 0;
        margin-left: 100px;
        padding-top: 0;
        width: 650px;
        height: 368px;
        backdrop-filter: blur(10px);
        border: grey solid 3px;
        animation-name: shake;
        animation-duration: 1s;
        background: #FFFFFF;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
</style>
<body>
<div class="col-md-4 col-md-offset-4">
  <h3 style="text-align: center;color: #4CAF50;">
    <a href="{% url 'index' %}">旅游管理系统登录</a>
  </h3>

  <div class="form-group">
    <label>获取头像</label>
    <div id="cameraBtn">
      <input type="button" id="init" onclick="captureInit()" value="开启摄像头"
             style="background: #4CAF50;color: #FFFFFF;width: 78px;height: 30px;margin-left: 10px;border-radius: 5px"/>
      <input type="button" id="capture" onclick="capture_s()" value="开始拍照"
             style="background: #4CAF50;color: #FFFFFF;width: 78px;height: 30px;margin-left: 10px;border-radius: 5px"/>
      <input type="button" id="queren" onclick="queren_s()" value="确定登录"
             style="background: #4CAF50;color: #FFFFFF;width: 78px;height: 30px;margin-left: 10px;border-radius: 5px"/>
      <button style="background: bisque;width: 148px;height: 30px;margin-left: 50px;border-radius: 5px">
        <a href="{% url 'login_face' %}?type=username">切换账号密码登录</a>
      </button>
    </div>
    <div id="cameraDiv" style="width: 650px;margin-top: 8px">
      <video id="video" autoplay style="width: 300px;height: 200px"></video>
      <canvas id="canvas" width="300" height="200"></canvas>
    </div>
    <p style="text-align: center;margin-top: 10px;color: #b3b3b3;">
      未有账号？<a href="{% url 'register_face' %}" style="color: #4CAF50;">点我注册</a>
    </p>
  </div>
</div>
</body>

<script type="text/javascript">
    var video = document.getElementById("video");
    var canvas = document.getElementById("canvas");
    var context = canvas.getContext("2d");
    var imgWidth = "300";
    var imgHeight = "200";
    var captureState = 0; // 0未开启,1已开启,2已拍照

    function getUserMedia(constrains, success, error) {
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia(constrains).then(success).catch(error);
        } else if (navigator.webkitGetUserMedia) {
            navigator.webkitGetUserMedia(constrains).then(success).catch(error);
        } else if (navigator.mozGetUserMedia) {
            navagator.mozGetUserMedia(constrains).then(success).catch(error);
        } else if (navigator.getUserMedia) {
            navigator.getUserMedia(constrains).then(success).catch(error);
        } else {
            alert("不支持的浏览器");
        }
    }

    function success(stream) {
        var CompatibleURL = window.URL || window.webkitURL;
        try {
            video.srcObject = stream;
        } catch (e) {
            video.src = CompatibleURL.createObjectURL(stream);
        }
        video.play();
    }

    function error(err) {
        alert("访问用户媒体设备失败," + err.name + "" + err.message);
    }

    function captureInit() {
        if ((navigator.mediaDevices && navigator.mediaDevices.getUserMedia) || navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia) {
            getUserMedia({video: {width: imgWidth, height: imgHeight}}, success, error);
            if (captureState === 0) {
                captureState = 1;
            }
        } else {
            captureState = 0;
            alert("你的浏览器不支持访问用户媒体设备或访问地址不是https开头");
        }
    }

    function capture_s() {
        if (captureState === 0) {
            alert("请先开启摄像头");
            return;
        }
        context.drawImage(video, 0, 0, imgWidth, imgHeight);
        captureState = 2;
    }

    function queren_s() {
        if (captureState !== 2) {
            alert("请先开启摄像头并拍照");
            return;
        }
        var mycanvas1 = document.getElementById('canvas');
        mycanvas1.toBlob(blob => {
            const formData = new FormData();
            formData.append('icon', blob, 'photo.jpg');
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            formData.append('type', 'face');
            $.ajax({
                url: '{% url 'login_face' %}',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: (data) => {
                    if (data.code === 1) {
                        alert(data.msg);
                    } else {
                        window.location.href = '/all_city/';
                    }
                },
                error: () => {
                    console.error('Error uploading photo.');
                },
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            });
        }, 'image/jpeg', 0.8);
    }
</script>
</html>


